
header {

}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.tile {
    width: 100%;
    background-color: rgb(37, 37, 37);
    margin: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

label {
    padding: auto;
    margin-top: 15px;
    color:white
}


.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
}

.image-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.icon  {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}

.share-button svg {
    margin-top: 2px;
    color: rgb(0, 0, 0);
}